ç<template>
  <div id="app" :class="typeof weather.main != 'undefined' ? 'warm' : ''">
    <main>
      <div class="search-box">
        <input
          type="text"
          class="search-bar"
          placeholder="search..."
          v-model="query"
          @keypress="fetchWeather"
        />
      </div>
      <div v-if="typeof weather.main != 'undefined'">
        <div class="location-box">
          <div class="location">
            {{ weather.name }},{{ weather.sys.country }}
          </div>
          <div class="date">{{ dateBiulder() }}</div>
        </div>
        <div class="weather-box">
          <div class="temp">
            <h1>{{ Math.floor(weather.main.temp) - 273 }}C</h1>
          </div>
          <div class="weather">{{ weather.weather[0].main }}</div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "app",
  data() {
    return {
      api_key: "76bb5dc17e762ab42e4dc5ea33555d07",
      api: "https://api.openweathermap.org/data/2.5/",
      query: "",
      weather: {},
    };
  },
  methods: {
    fetchWeather(e) {
      // console.log(e);
      if (e.key == "Enter") {
        // fetch(`${this.api}/weather?q=${this.query}&appid=${this.api_key}`)
        //   .then((res) => {
        //     return res.json();
        //   })
        //   .then((response) => {
        //     console.log(response);
        //     this.weather = response;
        //   });
        axios
          .get(`${this.api}/weather?q=${this.query}&appid=${this.api_key}`)
          .then((Response) => {
            this.weather = Response.data;
            console.log(Response);
          });
      }
    },
    dateBiulder() {
      let d = new Date();
      let months = [
        "January",
        "Febrary",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "Novamber",
        "Desamber",
      ];

      let days = [
        "Sunday",
        "monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];
      let day = days[d.getDay()];
      let date = d.getDate();
      let month = months[d.getMonth()];
      let year = d.getFullYear();
      return `${day} ${date} ${month} ${year} `;
    },
  },
};
</script>
<!-- // let
mounths=["January","Febrary","March","April","May","June","July","August","September","October","Novamber","Desamber"]
// let
days=["Sunday","monday","Tuesday","Wednesday","Thursday","Friday","Saturday"] -->
<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", "sana-serif";
}
#app {
  text-align: center;
  background-image: url("./assets/cold-bg.jpeg");
  background-size: cover;
  transition: 0.45;
}
#app.warm {
  background-image: url("./assets/warm-bg.jpeg");
}
main {
  min-height: 100vh;
  padding: 25px;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75)
  );
}
.search-box {
  width: 100px;
  margin-bottom: 30px;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;

  appearance: none;
  font-size: 20px;

  appearance: none;
  border: none;
  outline: none;
  background: none;
}
</style>
